@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap');

:root{
    --yellow:rgba(255, 255, 255, 0.527);
}

*{
    font-family: Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border:none;
    text-transform: capitalize;
    transition: all .2s linear;
}
.main-gradient{
	background: #212121;
}
*::selection{
    background:var(--yellow);
    color:#333;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

html::-webkit-scrollbar{
    width:1.4rem;
}

html::-webkit-scrollbar-track{
    background:#222;
}

html::-webkit-scrollbar-thumb{
    background:var(--yellow);
}

body{
    background:#111;
    overflow-x: hidden;
    padding-left: 35rem;
}

section{
    min-height: 100vh;
    padding:1rem;
}

.btn{
    padding:.7rem 3rem;
    background:#4a4a4a;
    color:#fff;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 2rem;
    border-radius: 5px;
}

.btn i{
    padding:0 .5rem;
    font-size: 1.8rem;
}

.btn:hover{
    background:var(--yellow);
}

.heading{
    text-align: center;
    margin:0 1rem;
    font-size: 4rem;
    padding:1rem;
    border-bottom: .1rem solid #fff4;
    color:#fff;
}

.heading span{
    color: #ffffff;
}

header{
    position: fixed;
    top:0; left:0;
    z-index: 1000;
    height:100%;
    width:36rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
    background: rgba(255, 255, 255, 0.171);
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.514), rgba(255, 255, 255, 0.137));
    border-radius: 0.3rem;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    z-index: 2;
    backdrop-filter: blur(2rem);
}

header .user img{
    height:17rem;
    width:17rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
    border:.2rem solid #000000;
}

header .user .name{
    font-size: 3.5rem;
    color:rgb(0, 0, 0);
}

header .user .post{
    font-size: 2rem;
    color:rgb(0, 0, 0);
}

header .navbar{
    width:100%;
}

header .navbar ul{
    list-style: none;
    padding:1rem 3rem;
}


header .navbar ul li a{
    display: block;
    padding:1rem;
    margin:1.5rem 0;
    color:rgb(0, 0, 0);
    font-size: 2rem;
	border-bottom: .1rem solid #fff4;
	margin: 0;
}

header .navbar ul li a:hover{
    background:var(--yellow);
	border-radius: 5px;
}

#menu{
    position: fixed;
    top:2rem; right:2rem;
    background: rgba(100, 100, 100, 0.0);
    color: white;
    cursor: pointer;
    font-size: 2.5rem;
    padding:1rem 1.5rem;
    z-index: 1000;
    display: none;
}

.home{
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding:0 15rem;
}

.home h3{
    font-size: 2.5rem;
    color:rgb(0, 0, 0);
}

.home h1{
    font-size:5rem;
    color:#fff;
}

.home h1 span{
    color:var(--yellow);
}

.home p{
    font-size:2rem;
    color:#eee;
    padding: 1rem 0;
}

.about .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding:1rem 0;
}

.about .row .info{
    flex:1 1 48rem;
    padding:2rem 1rem;
}

.about .row .info h3{
    font-size: 2rem;
    color:rgb(0, 0, 0);
    padding:1rem 0;
    font-weight: normal;
}

.about .row .info h3 span{
    color:#eee;
    padding:0 .5rem;
}

.about .row .counter{
    flex:1 1 48rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.about .row .counter .box{
    width:20rem;
    background:#222;
    text-align: center;
    padding: 2rem;
    margin:2rem;
}

.about .row .counter .box span{
    font-size: 4rem;
    color:var(--yellow);
}

.about .row .counter .box h3{
    font-size: 2rem;
    color:#fff;
}

.education .box-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding:1rem 0;
    padding-left: 3rem;
}

.education .box-container .box{
    width:27rem;
    margin:4rem 1rem;
    padding-left: 4rem;
    border-left: .2rem solid #fff;
    position: relative;
}

.education .box-container .box span{
    font-size: 1.3rem;
    background:#222;
    color:#fff;
    border-radius: 5rem;
    padding:.5rem 2.5rem;
}

.education .box-container .box h3{
    font-size: 2rem;
    color:#fff;
    padding-top: 1.5rem;
}

.education .box-container .box p{
    font-size: 1.4rem;
    color:#eee;
    padding: 1rem 0;
}

.education .box-container .box i{
    position: absolute;
    top:-1.5rem; left:-2.5rem;
    height:5rem;
    width: 5rem;
    border-radius: 50%;
    line-height: 5rem;
    text-align: center;
    font-size: 2rem;
    color:#fff;
    background:var(--yellow);
}

.portfolio .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding:2rem 0;
	border-radius: 5px;
}
.portfolio .box-container .box{
    height: 25rem;
    width:33rem;
    margin:2rem;
    overflow: hidden;
    cursor: pointer;
	border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.portfolio .box-container .box img{
    height:100%;
    width:100%;
    object-fit: cover;
	border-radius: 5px;
}

.portfolio .box-container .box:hover img{
    transform: scale(1.2);
}

.contact .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.contact .row .content{
    flex:1 1 30rem;
    padding:2rem 3rem;
}

.contact .row form{
    flex:1 1 45rem;
    padding:2rem;
    margin:2rem;
    margin-bottom: 4rem;
}

.contact .row form .box{
    padding:1.5rem;
    margin:1rem 0;
    background:#3333;
    color:rgb(0, 0, 0);
    text-transform: none;
    font-size: 1.7rem;
    width:100%;
}

.contact .row form .box::placeholder{
    text-transform: capitalize;
}

.contact .row form .message{
    height: 15rem;
    resize: none;
}

.contact .row .content .title{
    text-transform: uppercase;
    color:rgb(255, 255, 255);
    font-size: 3rem;
    padding-bottom: 2rem;
}

.contact .row .content .info h3{
    display: flex;
    align-items: center;
    font-size: 2rem;
    color:rgb(255, 255, 255);
    padding:1rem 0;
    font-weight: normal;
}

.contact .row .content .info h3 i{
    padding-right: 1rem;
    color:var(--yellow);
}

.top{
    position: fixed;
    bottom:7.5rem; right: 2rem;
    z-index: 100;
    display: none;
}

.iconlist {
  display: inline-block;
  float: left;
}
.iconspacer {
  margin-left: 2em;
}

a img:hover {
  opacity: 0.3;
}


/* media queries  */

@media (max-width:1200px){

    html{
        font-size: 55%;
    }

    .home{
        padding:1rem 4rem;
    }

}

@media (max-width:991px){

   header{
       left:-120%;
   }

   #menu{
       display: block;
   }

   header.toggle{
    left:0%;
   }

   body{
       padding:0;
   }

}

@media (max-width:768px){

    html{
        font-size: 50%;
    }
    .heading {
        margin: 0 0;
    }
    .portfolioinfo {
        padding-left: 0;
        padding-top: 0;
    }

 }

@media (max-width:320px){

    header{
        width: 120vw;
    }

    .heading{
        margin:0 3rem;
    }

    .about .row .counter .box{
        width: 100%;
    }
 
    .education .box-container .box{
        width:100%;
    }

    .portfolio .box-container .box{
        width:100%;
    }
	.workshop-box-container .workshop-images{
		width:100%;
	}
	.workshop-videos{
		width: 100%;
	}
	.arrow-position{
		width: 100%;
	}
    .contact .row form{
        margin:3rem 0;
    }
	.portfolioinfo {
		font-size: 50%;
	}
	.aut-box{
		width: 70%;
	}

 }
 .aut-box {
	max-width: 70%;
	height: auto;
	border-radius: 5px;
 }
 ul, li {
	font-size: 2rem;
	color: rgb(255, 255, 255);
}
.portfolioinfo {
	font-size: 2rem;
	color: rgb(255, 255, 255);
	padding-left: 1rem;
	padding-top: 1em;
}
.portfoliolist {
	padding-left: 4rem;
}

.workshop-box-container{
    display: inline-block;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding:3rem 0;
}
.workshop-images{
	max-width: 80%;
	height: auto;
	border-radius: 5px;
}
.workshop-videos{
	max-width: 100%;
	max-height: 100%;
	border-radius: 5px;
}
iframe{
    height:50rem;
    width:50rem;
}
.arrow-position{
	display: grid;
	grid-template-columns: auto auto;
	padding-top: 2%;
	margin-left: 15%;
}
.arrow-position-papers{
	display: grid;
	grid-template-columns: auto auto;
	padding-top: 2%;
	margin-left: 0.2%;
}
.left-arrow{
    pointer-events: none;
    cursor: default;
	height: 0rem;
	width: 0rem;
	border-top: solid transparent 2rem;
	border-left: solid transparent 2rem;
	border-left: solid transparent 2rem;
	border-bottom: solid transparent 2rem;
	text-align: center;
}
.left-arrow:hover{
    pointer-events: none;
    cursor: default;
	height: 0rem;
	width: 0rem;
	border-top: solid transparent 2rem;
	border-left: solid transparent 2rem;
	border-left: solid transparent 2rem;
	border-bottom: solid transparent 2rem;
}

.right-arrow{
    pointer-events: none;
    cursor: default;
	height: 0rem;
	width: 0rem;
	border-top: solid transparent 2rem;
	border-left: solid transparent 2rem;
	border-right: solid transparent 2rem;
	border-bottom: solid transparent 2rem;
	text-align: center;
}

.right-arrow:hover{
    pointer-events: none;
    cursor: default;
	height: 0rem;
	width: 0rem;
	border-top: solid transparent 2rem;
	border-left: solid transparent 2rem;
	border-right: solid transparent 2rem;
	border-bottom: solid transparent 2rem;
}
.invis-arrow{
	height: 0rem;
	width: 0rem;
	border-top: solid transparent 2rem;
	border-left: solid transparent 2rem; 
	border-right: solid transparent 2rem;
	border-bottom: solid transparent 2rem;
	text-align: center;
}
a{
	color: #9b9b9b;
}

.mySlides {
    display:none;
    border-radius: 1rem;
    border:2px solid #ffffff7e;
  }
  .w3-content {
    max-width: 980px;
  }
  .w3-content, .w3-auto {
    margin-left: auto;
    margin-right: auto;
  }
  .w3-tooltip, .w3-display-container {
    position: relative;
  }
  .w3-black, .w3-hover-black:hover {
    color: #fff!important;
    background-color: rgba(92, 90, 90, 0.434)!important;
  }
  .w3-display-left {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%,-50%);
    -ms-transform: translate(-0%,-50%);
  }
  .w3-btn, .w3-button {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .w3-btn, .w3-button {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
  }
  .w3-display-right {
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(0%,-50%);
    -ms-transform: translate(0%,-50%);
  }

  .next-display-right {
    position: absolute;
    bottom: 20%;
    right: 0%;
    transform: translate(0%,-50%);
    -ms-transform: translate(0%,-50%);
  }
  .prev-display-left {
    position: absolute;
    bottom: 20%;
    left: 0%;
    transform: translate(0%,-50%);
    -ms-transform: translate(-0%,-50%);
  }
  .w3-black, .w3-hover-black:hover {
    color: #fff!important;
    background-color: rgba(255, 255, 255, 0.434)!important;
  }
  .arrow-position2 {
	padding-top: 5%;
  }
  .left-arrow2{
	height: 0rem;
	width: 0rem;
	border-top: solid transparent 2rem;
	border-left: solid transparent 2rem;
	border-right: solid #ffffff 2rem;
	border-bottom: solid transparent 2rem;
	text-align: center;
}
.left-arrow2:hover{
	height: 0rem;
	width: 0rem;
	border-top: solid transparent 2rem;
	border-left: solid transparent 2rem;
	border-right: solid rgb(107, 107, 107) 2rem;
	border-bottom: solid transparent 2rem;
}

.right-arrow2{
	height: 0rem;
	width: 0rem;
	border-top: solid transparent 2rem;
	border-left: solid #ffffff 2rem; 
	border-right: solid transparent 2rem;
	border-bottom: solid transparent 2rem;
	text-align: center;
}

.right-arrow2:hover{
	height: 0rem;
	width: 0rem;
	border-top: solid transparent 2rem;
	border-left: solid rgb(107, 107, 107) 2rem;
	border-right: solid transparent 2rem;
	border-bottom: solid transparent 2rem;
}